h1{
    color:  #1ED760;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('../src/assets/loginScreenBG.jpg') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.login-card {
    background: rgb(0, 0, 0);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(233, 8, 8, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-logo {
    color:  #1ED760;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.input-group {
    text-align: left;
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color:  #1ED760;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box; /* Ensures padding doesn't break width */
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #ddd;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background-color: #1ED760;
}